body{
  background-color: #dfb2b2;
  margin:0%;
}
.welcome{
  width:100%;
  float:left;
  background-color:#950000;
  text-align:center;
  color:#ffffff
}

.welcome h1{
  padding:2% 0 2% 0;
  margin:0%;
}

.introduction{
  width:100%;
  float:left;
  float:left;
}

.about-me{
  width:50%;
  float:left;
  text-align:center;
}

.introduction img{
  margin:2%;
  border-style:solid;
  border-color:#590000;
  width:30%;
  float:left;
}

.portfolio{
  text-align:center;
  width:100%;
  float:left;
}

.portfolio h2{
  background-color:#950000;
  color:#ffffff;
}

.portfolio .img-box{
  width:31%;
  float:left;
  margin:1%;
}

.img-box img{
  width:80%;
}

.img-box span{
  font-weight: bold;
  display:block;
}

.contact{
  width:100%;
  float:left;
}

.contact h2{
  text-align:center;
  background-color:#950000;
  color:#ffffff;
}

.contact h3{
  width:92%;
  margin-left:8%;
}

.contact .message{
  width:49%;
  float:left;
  margin-left:1%;
}

.message input,textarea{
  width:50%;
  float:left;
  margin-bottom: 5%;
}

.contact .data{
  width:50%;
  float:left;
  text-align:center;
}

@media screen and (max-width: 480px) {
    .portfolio .img-box{
      border-style:solid;
      border-color:#590000;
      width:31%;
    }
    }
