body{
    background-color: #FF3333;
}
.navigation{
    text-align: center;
}
li{
    list-style-type: none;
    display:inline;
}
.intro{
  width:100%;
  text-align: center;
  padding-bottom:10%;
}
.title{
  background-color: #FF69B4;
  width:100%;
  float:left;
  text-align: center;
}
.title img{
  width:45%;
  float:left;
}
.title-text h2{
  text-align: center;

}
.skill-experience{
  width:100%;
  text-align: center;
  background-color:green;
}
.skill-experience h2{
  padding:0%;
  margin:0%;
  background-color: #FF1493;
}
.skillbars{
  width:50%;
  float:left;
}

.bar{
    float:left;
    height:10px;
    width:90%;
    margin-bottom:2%;
    background-color:#858585;
}
.twenty{
    width:18%;
    background-color:#FAE900;
}
.fifty{
    width:45%;
    background-color:#FAE900;
}
.fourty{
    width:36%;
    background-color:#FAE900;
}
.experience{
  width:50%;
  float:left;
  display:inline;
}
.experience ul li p{
  width:50%;
  float:left;
}
.img-banner{
  float:left;
  background-color:maroon;
  text-align: center;
}
.img-banner img{
  margin-right:1%;
  margin-bottom:1%;
  width:30%;
  float:left;
}
.connected{
  width:100%;
  float:left;
  background-color: #ffd700;
  text-align: center;
}
.connected input{
  display:block;
  margin-left: 40%;
}
.connected img{
  float:left;
  width:13.33%;
  display:inline;
}
.connected textarea{
  float:left;

}
@media only screen and (max-width: 630px) {
  .experience ul li p{
    width:100%;
    float:left;
  }
}
